[defaults]
inventory = hosts
subset = 188.245.69.206
remote_tmp = $HOME/.cache/ansible/tmp
remote_user = runner
nocows = 1
roles_path = roles
retry_files_enabled = False
max_diff_size = 250000
stdout_callback = debug
interpreter_python = /usr/bin/python

[tags]
run = user

[privilege_escalation]
become_allow_same_user = False

[ssh_connection]
pipelining = True
retries = 5
