[Unit]
Description=Jenkins CI
After=jenkins-build.service
Requires=jenkins-build.service
PropagatesStopTo=jenkins-build.service

[Container]
ContainerName=jenkins
Label=service=jenkins
Network=services.network

Image=jenkins.build
# Default HTTP port
PublishPort=8080:8080
# Exposed for Jenkins agents (internal)
PublishPort=50000:50000
Volume=jenkins_home.volume:/var/jenkins_home

[Service]
Restart=always

[Install]
WantedBy=default.target
