[Unit]
Description=Jenkins CI

[Container]
ContainerName=jenkins
Label=service=jenkins

Image=docker.io/jenkins/jenkins:latest
Pull=always
# Default HTTP port
PublishPort=8080:8080
# Exposed for Jenkins agents (internal)
PublishPort=50000:50000
Volume=jenkins_home.volume:/var/jenkins_home

[Service]
Restart=always

[Install]
WantedBy=default.target
