[server]
root_url = {{ 'https' if configure_tls else 'http' }}://{{ server_domain }}/grafana
serve_from_sub_path = true

[security]
admin_user = admin
cookie_secure = {{ 'true' if configure_tls else 'false' }}

[users]
allow_sign_up = false
default_theme = dark

[auth.anonymous]
enabled = true
org_role = Viewer
hide_version = true

[analytics]
reporting_enabled = false
check_for_updates = false

[rendering]
server_url = http://renderer:8081/render
callback_url = http://grafana:3000/grafana/
