[Unit]
Description=Grafana
Requires=grafana-renderer-token-generation.service
After=grafana-renderer-token-generation.service
Wants=victoriametrics.container renderer.container
PropagatesStopTo=victoriametrics.container renderer.container

[Container]
ContainerName=grafana
Label=service=grafana
Network=services.network

Image=docker.io/grafana/grafana:latest
Pull=always
# Default HTTP port
PublishPort=3000:3000
Volume=grafana-data.volume:/var/lib/grafana
Volume=%E/grafana/grafana.ini:/etc/grafana/grafana.ini:ro,Z
Volume=%E/grafana/provisioning:/etc/grafana/provisioning:ro,Z
Volume=%E/grafana/dashboards:/var/lib/grafana/dashboards:ro,Z
Environment=GF_PLUGINS_PREINSTALL_SYNC=victoriametrics-metrics-datasource
Secret=grafana-admin-password,type=mount,target=/run/secrets/grafana-admin-password
Secret=sendgrid-api-key,type=mount,target=/run/secrets/sendgrid-api-key
Secret=grafana-renderer-token,type=env,target=GF_RENDERING_RENDERER_TOKEN
Environment=GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana-admin-password
Environment=GF_SMTP_PASSWORD__FILE=/run/secrets/sendgrid-api-key

[Service]
Restart=always

[Install]
WantedBy=default.target
