[Unit]
Description=Grafana Image Renderer
Requires=grafana-renderer-token-generation.service
After=grafana-renderer-token-generation.service

[Container]
ContainerName=renderer
Label=service=grafana
Network=services.network

Image=docker.io/grafana/grafana-image-renderer:latest
Pull=always
Environment=ENABLE_METRICS=true
Secret=grafana-renderer-token,type=env,target=AUTH_TOKEN

[Service]
Restart=always

[Install]
WantedBy=default.target
