[Unit]
Description=VictoriaMetrics

[Container]
ContainerName=victoriametrics
Label=service=grafana
Network=services.network

Image=docker.io/victoriametrics/victoria-metrics:latest
Pull=always
Volume=victoriametrics-data.volume:/storage
Volume=%h/.config/grafana/scrape/promscrape.yaml:/etc/victoriametrics/promscrape.yaml:ro,z
Exec=-storageDataPath=/storage -promscrape.config=/etc/victoriametrics/promscrape.yaml

[Service]
Restart=always

[Install]
WantedBy=default.target
