[Unit]
Description=VictoriaMetrics

[Container]
ContainerName=victoriametrics
Label=service=grafana
Network=services.network

Image=docker.io/victoriametrics/victoria-metrics:latest
Pull=always
Volume=victoriametrics_data.volume:/storage
Exec=-storageDataPath=/storage

[Service]
Restart=always

[Install]
WantedBy=default.target
